In [11]:
import os

import pandas as pd
import sqlalchemy as sqla
from sqlalchemy import create_engine

SBA_DWH = os.getenv('SBA_DWH')
engine = create_engine(SBA_DWH)

In [24]:
QUERY = """
select *
from public.z_test
"""

In [25]:
with engine.begin() as conn:
    results = pd.read_sql(QUERY, conn)

In [26]:
results.head()

   index  0  1   2   3
0      0  0  1   2   3
1      1  4  5   6   7
2      2  8  9  10  11